<h1><div><%= link_to 'lyrix', songs_path %> can</div> Browse Songs</h1>

<section id="songs">

  <% if @all_songs.empty? %>
    <p>No songs yet</p>
  <% else %>
    <%= render :partial => 'song_preview', :collection => @featured_songs %>
  <% end %>

  <p><%= link_to 'Add a Song or Poem &raquo;'.html_safe, new_song_path, :id => 'add_song' %></p>
  
  <%= render :partial => 'song_preview', :collection => @other_songs %>

</section>

<section id="comment_list"><div></div></section>