<h1><div><%= link_to 'lyrix', songs_path %> can</div> Browse Songs</h1>

<% if @songs.empty? %>
  <p>No songs yet</p>
<% else %>
  <section id="songs">
    <% @songs.each do |song| %>
      <article>
        <h3><%= link_to song.title, song_path(song) %></h3>
        <%= lyrics_preview(song) %>
      </article>
    <% end %>
  </section>
<% end %>

<section id="comment_list"><div></div></section>