// Place all the styles related to the songs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  font: 18px helveticaneue-light, helvetica, sans-serif;
  background: #ddd;
}

html, body {
  height: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

#main {
  overflow: auto;
  height: 100%;
  width: 50%;
  background: white;
}

#main2 {
  padding: 0 15px !important;
}

h1, h2, h3, h4 {
  # font-family: futura, 'trebuchet ms', sans-serif;
  font-weight: normal;
  color: #222;
}

#main2 > h1 {
  color: #333;
  font: normal 34px helveticaneue-ultralight, helvetica, sans-serif;;
  margin-bottom: 25px;
  
  a {
    color: #c00;
  }
  
  div {
    font-size: 70%;
    font-family: georgia, 'times new roman', serif;
    font-style: italic;
    text-indent: -0.2em;
  }
}

.red {
  color: #c00;
}

.gray {
  color: #777;
}

a {
  color: #369;
  text-decoration: none;
  
  &:hover {
    color: #69c;
    text-decoration: underline;
  }
}

section h4 {
  color: #c00;
}

.add_comments {
  img {
    visibility: hidden;
  }
  &.show img {
    visibility: visible;
  }
}

table {
  margin: 0;
  padding: 0;
  border-collapse: collapse;
}

.lineno {
  text-align: right;
  
  a {
    padding-right: .5em;
  }
}

#comment_list {
  position: absolute;
  width: 50%;
  background: #eee;
  overflow: auto;
  display: none;
      
  div {
    margin: 20px 15px;
    
    div {
      display: inherit;
    }
  }
  
  h1 {
    color: #c00;
  }
}

.callout {
  background: white;
  
  position: relative;
  margin: 18px 0;
  padding: 1px 20px;
  /* easy rounded corners for modern browsers */
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
   
  .notch {
    position: absolute;
    top: -10px;
    left: 20px;
    margin: 0;
    border-top: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid white;
    padding: 0;
    width: 0;
    height: 0;
    /* ie6 height fix */
    font-size: 0;
    line-height: 0;
     /* ie6 transparent fix */
    _border-right-color: pink;
    _border-left-color: pink;
    _filter: chroma(color=pink);
  }
}

#add_song {
  display: inline-block;
  color: white;
  font-family: georgia, 'times new roman', serif;
  font-style: italic;
  font-size: 20px;
  text-decoration: none;
  border-radius: 12px;
  padding: 0.6em 1.3em;
  text-shadow: 0.1em 0.1em #333;
  border: 3px solid #ddd;
  
  background: #6699cc; /* Old browsers */
  background: -moz-linear-gradient(top, #6699cc 2%, #336699 99%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(2%,#6699cc), color-stop(99%,#336699)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #6699cc 2%,#336699 99%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #6699cc 2%,#336699 99%); /* Opera11.10+ */
  background: -ms-linear-gradient(top, #6699cc 2%,#336699 99%); /* IE10+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6699cc', endColorstr='#336699',GradientType=0 ); /* IE6-9 */
  background: linear-gradient(top, #6699cc 2%,#336699 99%); /* W3C */
  
  -moz-box-shadow:inset 0 0 10px #000000;
  -webkit-box-shadow:inset 0 0 10px #000000;
  box-shadow:inset 0 0 5px #000000;
      
  &:hover {
    text-shadow: 0.1em 0.1em #c00;
  }
}